.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse
/nbproject/private/
/build/

#nambah. aku gatau ini perlu masukin ke git apa ga.
/nbproject/
build.xml
manifest.mf

# TA.~ml, ga tau ini file digenerate otomatis sama staruml -_-
TA.~ml